<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <span>Your game will be hosted at: http://railsagainsthumanity.co/<%= game.slug %></span>
  </div>


  <strong><span>Send it to your friends to get started!</span></strong>

  <div class="actions">
    <%= f.submit "Alright, let's go."%>
  </div>
<% end %>
