<p id="notice"><%= notice %></p>

<h1>Player Cards</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Game</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_cards.each do |player_card| %>
      <tr>
        <td><%= player_card.user_id %></td>
        <td><%= player_card.game_id %></td>
        <td><%= player_card.answer_id %></td>
        <td><%= link_to 'Show', player_card %></td>
        <td><%= link_to 'Edit', edit_player_card_path(player_card) %></td>
        <td><%= link_to 'Destroy', player_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player Card', new_player_card_path %>
